
.selected-place-container {
    display: flex;
    width: 200px;
    margin: auto;
    text-align: center;
    gap: 80px;
    list-style: numeric;
    margin-left: 10px;
}

.fake-seat-btn {
    padding: 16px;
    padding-left: 40px;
}

.seat-btn {
    padding: 16px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 6px;
    background-color: rgb(226 232 240 / var(--tw-bg-opacity));
}

.selected {
    background-color: #329622; /* Change to your desired background color */
    color: #fff; /* Change text color to ensure visibility */
}